<p id="notice"><%= notice %></p>


<div class="row">
		<div class="hidden-sm hidden-xs col-md-3 well">
			
				<%= render 'layouts/sidebar' %>
	
		</div>
		
		<div class="col-md-9">
			

<h1><%= @article.title %></h1>

<h2><small>
  <%= @article.description %>
</small></h2>

  <%= @article.published_on %>

<p>
  <%= markdown @article.body %>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'remoteworker';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

</div>

		<div class="visible-sm visible-xs col-md-3 well">
			
				<%= render 'layouts/sidebar' %>
	
		</div>
		

</div>