




    <div class="row">
			<div class="sidebar">
      	<div class="col-md-4 well">
	        <h2>Remote-Worker.org</h2>
	        <p><strong>Remote-Worker.org is your portal to the wonderful world of remote working. Below are some of the topics we will cover. We will be launching soon!</strong></p>
				</div>
      	<div class="col-md-8">

				 
			     <% @articles.each do |article| %>
			         <h2><%= link_to article.title, article %></h2>
							 <p><%= article.description %> <%= link_to "Read More...", article %></p>
							 
						 
					 <% end %>
					 <%= link_to "More articles...", articles_path %>
				 </div>
				</div>
		</div>




     <div class="row-fluid">
       <div class="col-md-4 col-md-offset-1">
				 <div align="center">
					 
					 <a href="advocacy"><img src="/assets/advocacy_large.png" alt="..." class="img-circle"></a>
          <h4><%= link_to "Advocacy", advocacy_path %></h4>
				</div>
         <p>Information and case studies. Information and case studies. Information and case studies. Information and case studies. Information and case studies. Information and case studies. Information and case studies. Information and case studies. Information and case studies.</p>

       </div>
			 
       <div class="col-md-4 col-md-offset-1">
 				 <div align="center">
					 <a href="/employment">
					 <img src="/assets/jobs_large.png" alt="Employment">
				 	</a>
				<h4><%= link_to "Employment", employment_path %></h4>
			</div>
         <p>Job listings for remote worker-only positions. Job listings for remote worker-only position Job listings for remote worker-only position</p>


       </div>
     </div>


   </div> <!-- /container -->