




    <div class="row">
			<div class="sidebar">
      	<div class="col-md-3 well">
					<h2><%= link_to "Remote-Worker.org", root_path %></h2>
	        <p><strong>Welcome to Remote-Worker.org - your portal to the wonderful world of remote working. Here you will find news, opinion, discussion, and opportunities ... all related to remote working. But the main goal of this site is to build a strong community around remote working. Join in! </strong></p>
				</div>
				
      	<div class="col-md-8">
				 
			     <% @articles.each do |article| %>
			         <h2><%= link_to article.title, article %></h2>
							 <p><%= article.description %> <%= link_to "Read More...", article %></p>
							 
						 
					 <% end %>
					 <%= link_to "More articles...", articles_path %>
				 </div>
				</div>
		</div>


<br><br>

     <div class="row">
       <div class="col-md-4 col-md-offset-1">
				 <div align="center">
					 
					 <a href="advocacy"><img src="http://remote-worker.org.s3.amazonaws.com/images/advocacy_large.png" alt="Advocacy" class="img-circle"></a>
          <h4><%= link_to "Advocacy", advocacy_path %></h4>
				</div>
         <p>We are unwavering in our belief that remote working is a viable path for most companies. We will present information and case studies to help guide companies along this path.</p>

       </div>
			 
       <div class="col-md-4 col-md-offset-1">
 				 <div align="center">
					 <a href="/employment">
					 <img src="http://remote-worker.org.s3.amazonaws.com/images/jobs_large.png" alt="Employment">
				 	</a>
				<h4><%= link_to "Employment", employment_path %></h4>
			</div>
         <p>Guess what? There are already a ton of jobs out there for remote workers! There are a number of job sites that provide these listings and we'll let you know all about them.</p>


       </div>
     </div>


   </div> <!-- /container -->