<!DOCTYPE html>
<html>
<head>
  <title>Remote-Worker.org</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
</head>
<body>
<br><br>
<div class="container">
<%= yield %>
</div>
<br><br>
		 
		 <p class="text-center">&copy; Remote-Worker.org 2014 | chris@remote-worker.org | <%= link_to 'RSS', '/articles.atom' %>
		 	<% if current_user %>
		 	| <%= link_to 'Sign Out', session_path, method: :delete, class: 'button' %> |
		 	<%= link_to 'New Article', new_article_path %>
		 	<% end %>
		 </p>
		 
</body>
</html>
